* {
    padding: 0;
    margin: 0;
}

body {
    background: url(img/bg.jpg) center top no-repeat;
    font-size: 16px;
    font-family: 'Droid Sans', 'PT Sans', sans-serif;
}

.header-wrapper {
    height: 154px;
    width: 100%;
    background: url(img/bg-white.png) center top no-repeat;
}

.header {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.header .logo {
    padding-top: 25px;
    padding-left: 15px;
}

.content-wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.content {
    padding-left: 490px;
    color: #ffffff;
    font-size: 0.875em;
}

.coming-soon {
    padding: 70px 0;
}

.address {
    padding-left: 50px;
    background: url(img/address.png) 15px 0px no-repeat;
    margin-bottom: 25px;
    line-height: 1.714285714285714em;
    font-weight: bold;
}

.address .hr {
    margin-top: 15px;
    border-bottom: 1px solid #cf8b8a;
    border-top: 1px solid #c67373;
    height: 0px;
    width: 60px;
}

.phone {
    padding-left: 50px;
    background: url(img/phone.png) 15px 0px no-repeat;
    line-height: 24px;
    font-weight: bold;
}

.mail {
    padding-left: 50px;
    background: url(img/email.png) 15px 0px no-repeat;
    line-height: 1.714285714285714em;
    font-weight: bold;
}

.mail a {
    color: #fff;
    text-decoration: none;
}

.mail a:hover {
    text-decoration: underline;
}

.zz {
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 0.75em;
}

.footer-wrapper {
    height: 201px;
    width: 100%;
    background: url(img/bg-blue.png) center top no-repeat;
}

.footer {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.footer .copyright {
    text-align: right;
    padding-top: 85px;
    padding-right: 15px;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

.links_wrapper {
    float: right;
}

.btn-pdf {
    text-decoration: none;
    font-family: 'Veranda', 'Arial', sans-serif;
    display: block;
    margin-bottom: 40px;

}

.btn-pdf:before {
    content: '';
    display: block;
    float: left;
    width: 37px;
    height: 37px;
    background: url(img/PDF-download-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.btn-pdf .file-name {
    color: #ffffff;
    font-size: 19px;
    line-height: 19px;
}

.btn-pdf .file-type {
    display: block;
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
}

.btn-pdf:after {
    content: '';
    clear: both;
}

@media only screen and (max-width: 1000px) {
    .content {
        padding-left: 390px;
    }

    .links_wrapper {
        margin: 0 auto;
        width: 100%;
        padding: 30px 0;
    }
}

@media only screen and (max-width: 850px) {
    .content {
        padding-left: 300px;
    }
}

@media only screen and (max-width: 750px) {
    .content {
        padding-left: 240px;
    }
}

@media only screen and (max-width: 700px) {
    .content {
        padding-left: 200px;
    }

    .header .logo {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 650px) {
    .content {
        padding-left: 160px;
    }

    .header .logo {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        padding-left: 130px;
    }

    .header .logo {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 585px) {
    .content {
        padding: 0 15px;
    }

    body {
        background: #CE191A url(img/bg600.png) center top no-repeat;
    }

    .footer-wrapper {
        height: 60px;
        background-position: right top;
    }

    .footer .copyright {
        padding-top: 25px;
    }
}